---
import {
  grados,
  roles,
  guardias,
  destinos,
  comentarios,
} from '../data/options';
---

<div class="feedback-form">
  <div id="already-submitted" class="alert-success" style="display: none;">
    <h3>Usuario registrado</h3>
    <p>Formulario ya enviado. No es necesario volver a rellenar el formulario.</p>
  </div>
  <form
    name="registro-usuarios"
    id="registro-usuarios"
    method="POST"
    data-netlify="true"
    netlify-honeypot="bot-field"
    class="feedback-form"
    action="/success"
  >
    <input type="hidden" name="form-name" value="registro-usuarios" />
    <input type="hidden" id="submission-id" name="submission_id" value="" />

    <!-- Campo Honeypot -->
    <p class="hidden">
      <label>No llenar este campo: <input name="bot-field" /></label>
    </p>

    <!-- Nombre Completo -->
    <div class="form-group">
      <label for="nombres"
        >Nombre Completo <span class="required">*</span></label
      >
      <input type="text" id="nombres" name="Nombres" required />
    </div>

    <!-- NIP -->
    <div class="form-group">
      <label for="nip">NIP <span class="required">*</span></label>
      <input
        type="number"
        id="nip"
        name="Nip"
        placeholder="ejemplo 17345"
        required
      />
    </div>

    <!-- Grado / Rango -->
    <div class="form-group">
      <label for="grado">Grado / Rango <span class="required">*</span></label>
      <select id="grado" name="Grado_Rango" required>
        <option value="" disabled selected>Seleccione un grado</option>
        {grados.map((grado) => <option value={grado}>{grado}</option>)}
      </select>
    </div>

    <!-- Rol -->
    <div class="form-group">
      <label for="rol">Rol <span class="required">*</span></label>
      <select id="rol" name="ROL" required>
        <option value="" disabled selected>Seleccione un Rol</option>
        {roles.map((rol) => <option value={rol}>{rol}</option>)}
      </select>
    </div>

    <!-- Usuario -->
    <div class="form-group">
      <label for="usuariorap">Usuario RAP</label>
      <input type="text" id="usuariorap" name="Usuariorap" placeholder="ejemplo luis.ramirez" />
    </div>

    <!-- Guardia -->
    <div class="form-group">
      <label for="guardia">Guardia a la que pertenece</label>
      <div class="radio-group">
        {
          guardias.map((guardia) => (
            <div class="radio-item">
              <input type="radio" id={guardia} name="Guardia" value={guardia} />
              <label for={guardia} class="radio-label">
                {guardia}
              </label>
            </div>
          ))
        }
      </div>
    </div>

    <!-- Destino -->
    <div class="form-group">
      <label for="destino">Destino <span class="required">*</span></label>
      <select id="destino" name="Destino" required>
        <option value="" disabled selected>Seleccione un Destino</option>
        {destinos.map((destino) => <option value={destino}>{destino}</option>)}
      </select>
    </div>

    <!-- Subdestino -->
    <div class="form-group">
      <label for="subdestino"
        >SubDestino 
      </label>(Estacion / Subestación / Delegación)
      <select id="subdestino" name="Subdestino">
        <option value="" disabled selected>Seleccione un subdestino</option>
        <!-- Opciones se insertan dinámicamente -->
      </select>
    </div>

    <!-- Telefono -->
    <div class="form-group">
      <label for="telefono">Número de Teléfono</label>
      <input type="tel" id="telefono" name="Numero_de_Telefono" />
    </div>
  
    <!-- Comentarios -->
    <label for="comentario">Opiniones o comentarios</label>
    <div class="form-group">
      <div class="radio-list">
        {
          comentarios.map((comentario) => (
            <div class="radio-item">
              <input type="radio" id={comentario} name="Comentario" value={comentario} />
              <label for={comentario} class="radio-label">
                {comentario}
              </label>
            </div>
          ))
        }
      </div>
    </div>

    <!-- error -->
    <div id="errorMensaje"></div>

    <!-- Aquí aparece el reCAPTCHA -->
  <div data-netlify-recaptcha="true"></div>

    <div style="display: flex; justify-content: center; margin-top: 1rem;">
      <button type="submit" id="submit-button">Enviar</button>
    </div>
  </form>
</div>

<script type="module" src="/assets/js/validaciones.js"></script>
